######  Loading data into  Pandas

In [1]:
import pandas as pd

In [66]:
df = pd.read_csv('pokemon_data.csv')
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df = pd.read_csv('pokemon_data.txt',delimiter='\t')
# print(df.tail(3))

##### Reading Data in Pandas

In [19]:
#  Read Headers
df.columns

# Read each Column
print(df[['Name','Type 1']][0:5])
# for index,row in df.iterrows():
#     print(index,row['Name'])
    
# Read Each Row
# print(df.iloc[1:4])
df.loc[df['Type 1'] == "Grass"]
# Read a specific location (R, C)
# print(df.iloc[2,1])

                    Name Type 1
0              Bulbasaur  Grass
1                Ivysaur  Grass
2               Venusaur  Grass
3  VenusaurMega Venusaur  Grass
4             Charmander   Fire

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

#####  Sorting/Describing Data

In [49]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [44]:
df.sort_values(['Type 1', 'HP'],ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [23]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

##### Making changes to the data

In [50]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [51]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df = df.drop(columns=['Total'])
df['Total'] = df.iloc[:,4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [40]:
df = df[['Total', 'HP','Defense']]
df.head()

   Total  HP  Defense
0    318  45       49
1    405  60       63
2    525  80       83
3    625  80      123
4    309  39       43

##### Saving our Data(Exporting into Desired Format)

In [53]:
df.to_csv('modified.csv', index=False)
# df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

##### Filtering Data

In [69]:
new_df=df.loc[(df['Type 1'] == "Grass") & (df['Type 2'] == "Poison") & (df['HP'] > 70)]
# new_df.to_csv('filter_data.csv')
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [71]:
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [72]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [73]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

#####  Conditional Changes

In [76]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [80]:
df = pd.read_csv('modified.csv')
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test 1,Test 2

###### Aggregate Statistics(Groupby)

In [92]:
df = pd.read_csv('modified.csv')
# df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)
df.groupby(['Type 1', 'Type 2']).sum()['Defense']

Type 1  Type 2
Bug     Electric    110
        Fighting    190
        Fire        120
        Flying      862
        Ghost        45
                   ...
Water   Ice         340
        Poison      175
        Psychic     520
        Rock        451
        Steel        88
Name: Defense, Length: 136, dtype: int64

##### Working with large amounts of data

In [103]:
new_df = pd.DataFrame(columns=df.columns)
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [106]:
for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
#     print(results)
    new_df = pd.concat([new_df, results])
    print(new_df)
#     print('next')

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     2    2    NaN      2     2  2      2       2       2       2     2
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             1         1
Psychic          2         2
Rock             2         2
Fire             1         1
Grass            4         4

[435 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock   2    2    NaN      2     2  2      2       2       2       2     2
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Rock           2         2
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1

[437 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
Water  3    3    NaN      0     3  3      3       3       3       3     3

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
Water          3         3

[439 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
Water  3    3    NaN      0     3  3      3       3       3       3     3
Bug    5    5    NaN      5     5  5      5       5       5       5     5

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Fire           4         4
Water          1         1
Bug            2         2
Water          3         3
Bug            5         5

[440 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
Water   3    3    NaN      0     3  3      3       3       3       3     3
Bug     5    5    NaN      5     5  5      5       5       5       5     5
Normal  5    5    NaN      4     5  5      5       5       5       5     5

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           1         1
Bug             2         2
Water           3         3
Bug             5         5
Normal          5         5

[441 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   3    3    NaN      0     3  3      3       3       3       3     3
Bug     5    5    NaN      5     5  5      5       5       5       5     5
Normal  5    5    NaN      4     5  5      5       5       5       5     5
Normal  3    3    NaN      2     3  3      3       3       3       3     3
Poison  2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           3         3
Bug             5         5
Normal          5         5
Normal          3         3
Poison          2         2

[443 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    3    3    NaN      2     3  3      3       3       3       3     3
Poison    2    2    NaN      0     2  2      2       2       2       2     2
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Ground    2    2    NaN      0     2  2      2       2       2       2     2
Poison    1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            3         3
Poison            2         2
Electric          2         2
Ground            2         2
Poison            1         1

[446 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Poison    2    2    NaN      0     2  2      2       2       2       2     2
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Ground    2    2    NaN      0     2  2      2       2       2       2     2
Poison    1    1    NaN      0     1  1      1       1       1       1     1
Poison    5    5    NaN      2     5  5      5       5       5       5     5

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Poison            2         2
Electric          2         2
Ground            2         2
Poison            1         1
Poison            5         5

[447 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Poison  1    1    NaN      0     1  1      1       1       1       1     1
Poison  5    5    NaN      2     5  5      5       5       5       5     5
Fairy   2    2    NaN      0     2  2      2       2       2       2     2
Fire    2    2    NaN      0     2  2      2       2       2       2     2
Normal  1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Poison          1         1
Poison          5         5
Fairy           2         2
Fire            2         2
Normal          1         1

[450 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    2    2    NaN      0     2  2      2       2       2       2     2
Normal  1    1    NaN      1     1  1      1       1       1       1     1
Grass   2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      1     1  1      1       1       1       1     1
Poison  2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            2         2
Normal          1         1
Grass           2         2
Normal          1         1
Poison          2         2

[453 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass   2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      1     1  1      1       1       1       1     1
Poison  2    2    NaN      2     2  2      2       2       2       2     2
Bug     4    4    NaN      4     4  4      4       4       4       4     4
Grass   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Grass           2         2
Normal          1         1
Poison          2         2
Bug             4         4
Grass           1         1

[455 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     4    4    NaN      4     4  4      4       4       4       4     4
Grass   1    1    NaN      1     1  1      1       1       1       1     1
Ground  2    2    NaN      0     2  2      2       2       2       2     2
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             4         4
Grass           1         1
Ground          2         2
Normal          2         2
Water           1         1

[458 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    2    2    NaN      0     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Fire      2    2    NaN      0     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            2         2
Water             1         1
Fighting          2         2
Fire              2         2
Water             1         1

[461 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Fire      2    2    NaN      0     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1
Psychic   2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      1     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          2         2
Fire              2         2
Water             1         1
Psychic           2         2
Water             3         3

[463 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     1    1    NaN      0     1  1      1       1       1       1     1
Psychic   2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      1     3  3      3       3       3       3     3
Fighting  3    3    NaN      0     3  3      3       3       3       3     3
Psychic   2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Water             1         1
Psychic           2         2
Water             3         3
Fighting          3         3
Psychic           2         2

[465 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     3    3    NaN      1     3  3      3       3       3       3     3
Fighting  3    3    NaN      0     3  3      3       3       3       3     3
Psychic   2    2    NaN      0     2  2      2       2       2       2     2

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Grass    3    3    NaN      3     3  3      3       3       3       3     3
Water    2    2    NaN      2     2  2      2       2       2       2     2
Fire     2    2    NaN      0     2  2      2       2       2       2     2
Rock     3    3    NaN      3     3  3      3       3       3       3     3

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          2         2
Grass            3         3
Water            2         2
Fire             2         2
Rock             3         3

[469 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     2    2    NaN      2     2  2      2       2       2       2     2
Fire      2    2    NaN      0     2  2      2       2       2       2     2
Rock      3    3    NaN      3     3  3      3       3       3       3     3
Electric  2    2    NaN      2     2  2      2       2       2       2     2
Water     3    3    NaN      3     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Water             2         2
Fire              2         2
Rock              3         3
Electric          2         2
Water             3         3

[471 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock      3    3    NaN      3     3  3      3       3       3       3     3
Electric  2    2    NaN      2     2  2      2       2       2       2     2
Water     3    3    NaN      3     3  3      3       3       3       3     3
Normal    3    3    NaN      3     3  3      3       3       3       3     3
Water     2    2    NaN      1     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Rock              3         3
Electric          2         2
Water             3         3
Normal            3         3
Water             2         2

[473 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  3    3    NaN      3     3  3      3       3       3       3     3
Water   2    2    NaN      1     2  2      2       2       2       2     2
Ghost   1    1    NaN      1     1  1      1       1       1       1     1
Poison  2    2    NaN      0     2  2      2       2       2       2     2
Water   2    2    NaN      1     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          3         3
Water           2         2
Ghost           1         1
Poison          2         2
Water           2         2

[476 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Poison   2    2    NaN      0     2  2      2       2       2       2     2
Water    2    2    NaN      1     2  2      2       2       2       2     2
Ghost    3    3    NaN      3     3  3      3       3       3       3     3
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Rock     1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Poison           2         2
Water            2         2
Ghost            3         3
Psychic          1         1
Rock             1         1

[479 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic   1    1    NaN      0     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Psychic   1    1    NaN      0     1  1      1       1       1       1     1
Water     2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Psychic           1         1
Rock              1         1
Electric          2         2
Psychic           1         1
Water             2         2

[482 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic   1    1    NaN      0     1  1      1       1       1       1     1
Water     2    2    NaN      0     2  2      2       2       2       2     2
Fighting  1    1    NaN      0     1  1      1       1       1       1     1
Grass     2    2    NaN      2     2  2      2       2       2       2     2
Ground    2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Psychic           1         1
Water             2         2
Fighting          1         1
Grass             2         2
Ground            2         2

[485 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground    2    2    NaN      0     2  2      2       2       2       2     2
Fighting  1    1    NaN      0     1  1      1       1       1       1     1
Ground    1    1    NaN      1     1  1      1       1       1       1     1
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Poison    2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Ground            2         2
Fighting          1         1
Ground            1         1
Normal            1         1
Poison            2         2

[489 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Poison  2    2    NaN      0     2  2      2       2       2       2     2
Grass   1    1    NaN      0     1  1      1       1       1       1     1
Ground  1    1    NaN      1     1  1      1       1       1       1     1
Normal  3    3    NaN      0     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          1         1
Poison          2         2
Grass           1         1
Ground          1         1
Normal          3         3

[492 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Poison  2    2    NaN      0     2  2      2       2       2       2     2
Grass   1    1    NaN      0     1  1      1       1       1       1     1
Ground  1    1    NaN      1     1  1      1       1       1       1     1
Normal  3    3    NaN      0     3  3      3       3       3       3     3
Water   5    5    NaN      0     5  5      5       5       5       5     5

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Poison          2         2
Grass           1         1
Ground          1         1
Normal          3         3
Water           5         5

[493 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug       1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Ice       1    1    NaN      1     1  1      1       1       1       1     1
Psychic   1    1    NaN      1     1  1      1       1       1       1     1
Water     1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Bug               1         1
Electric          1         1
Ice               1         1
Psychic           1         1
Water             1         1

[498 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   1    1    NaN      1     1  1      1       1       1       1     1
Bug     2    2    NaN      1     2  2      2       2       2       2     2
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           1         1
Bug             2         2
Fire            1         1
Normal          1         1
Water           1         1

[502 rows x 13 columns]

        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Water   1    1    NaN      0     1  1      1       1       1       1     1
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Water   3    3    NaN      3     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            1         1
Normal          1         1
Water           1         1
Normal          2         2
Water           3         3

[504 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Water     1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          1         1
Fire              1         1
Normal            1         1
Rock              1         1
Water             1         1

[509 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      0     1  1      1       1       1       1     1
Rock    5    5    NaN      5     5  5      5       5       5       5     5

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            1         1
Normal          1         1
Rock            1         1
Water           1         1
Rock            5         5

[510 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon    1    1    NaN      0     1  1      1       1       1       1     1
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Fire      1    1    NaN      1     1  1      1       1       1       1     1
Ice       1    1    NaN      1     1  1      1       1       1       1     1
Normal    1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dragon            1         1
Electric          1         1
Fire              1         1
Ice               1         1
Normal            1         1

[515 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Ice      1    1    NaN      1     1  1      1       1       1       1     1
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Dragon   2    2    NaN      1     2  2      2       2       2       2     2
Psychic  3    3    NaN      1     3  3      3       3       3       3     3

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             1         1
Ice              1         1
Normal           1         1
Dragon           2         2
Psychic          3         3

[517 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon   2    2    NaN      1     2  2      2       2       2       2     2
Psychic  3    3    NaN      1     3  3      3       3       3       3     3
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    3    3    NaN      0     3  3      3       3       3       3     3
Psychic  1    1    NaN      0     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Dragon           2         2
Psychic          3         3
Fire             1         1
Grass            3         3
Psychic          1         1

[520 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    3    3    NaN      0     3  3      3       3       3       3     3
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Fire     2    2    NaN      0     2  2      2       2       2       2     2
Water    3    3    NaN      0     3  3      3       3       3       3     3

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             1         1
Grass            3         3
Psychic          1         1
Fire             2         2
Water            3         3

[522 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Fire     2    2    NaN      0     2  2      2       2       2       2     2
Water    3    3    NaN      0     3  3      3       3       3       3     3
Bug      1    1    NaN      1     1  1      1       1       1       1     1
Normal   4    4    NaN      2     4  4      4       4       4       4     4

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Fire             2         2
Water            3         3
Bug              1         1
Normal           4         4

[524 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Normal  4    4    NaN      2     4  4      4       4       4       4     4
Bug     3    3    NaN      3     3  3      3       3       3       3     3
Poison  1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             1         1
Normal          4         4
Bug             3         3
Poison          1         1
Water           1         1

[527 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Fairy     2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      1     1  1      1       1       1       1     1
Water     1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Water             1         1
Electric          1         1
Fairy             2         2
Normal            1         1
Water             1         1

[531 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    1    1    NaN      1     1  1      1       1       1       1     1
Water     1    1    NaN      1     1  1      1       1       1       1     1
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Fairy     1    1    NaN      1     1  1      1       1       1       1     1
Psychic   2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            1         1
Water             1         1
Electric          2         2
Fairy             1         1
Psychic           2         2

[534 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy     1    1    NaN      1     1  1      1       1       1       1     1
Psychic   2    2    NaN      2     2  2      2       2       2       2     2
Electric  2    2    NaN      1     2  2      2       2       2       2     2
Grass     1    1    NaN      0     1  1      1       1       1       1     1
Water     2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fairy             1         1
Psychic           2         2
Electric          2         2
Grass             1         1
Water             2         2

[537 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass  1    1    NaN      0     1  1      1       1       1       1     1
Water  2    2    NaN      2     2  2      2       2       2       2     2
Grass  3    3    NaN      3     3  3      3       3       3       3     3
Rock   1    1    NaN      0     1  1      1       1       1       1     1
Water  1    1    NaN      0     1  1      1       1       1       1     1

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Grass          1         1
Water          2         2
Grass          3         3
Rock           1         1
Water          1         1

[540 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           1         1
Bug             1         1
Grass           2         2
Normal          1         1
Water           1         1

[544 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Water    1    1    NaN      1     1  1      1       1       1       1     1
Dark     2    2    NaN      1     2  2      2       2       2       2     2
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Water    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           1         1
Water            1         1
Dark             2         2
Psychic          1         1
Water            2         2

[547 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water    2    2    NaN      2     2  2      2       2       2       2     2
Bug      1    1    NaN      0     1  1      1       1       1       1     1

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Bug      1    1    NaN      1     1  1      1       1       1       1     1
Ground   1    1    NaN      1     1  1      1       1       1       1     1
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Steel    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          2         2
Bug              1         1
Ground           1         1
Normal           1         1
Steel            2         2

[555 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Steel   2    2    NaN      2     2  2      2       2       2       2     2
Bug     2    2    NaN      2     2  2      2       2       2       2     2
Fairy   2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          1         1
Steel           2         2
Bug             2         2
Fairy           2         2
Water           1         1

[558 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy   2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      1     1  1      1       1       1       1     1
Bug     3    3    NaN      3     3  3      3       3       3       3     3
Dark    1    1    NaN      1     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fairy           2         2
Water           1         1
Bug             3         3
Dark            1         1
Normal          1         1

[561 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark    1    1    NaN      1     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Fire    2    2    NaN      1     2  2      2       2       2       2     2
Ice     2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dark            1         1
Normal          1         1
Fire            2         2
Ice             2         2
Normal          1         1

[564 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    2    2    NaN      1     2  2      2       2       2       2     2
Ice     2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Ice     1    1    NaN      1     1  1      1       1       1       1     1
Water   4    4    NaN      2     4  4      4       4       4       4     4

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            2         2
Ice             2         2
Normal          1         1
Ice             1         1
Water           4         4

[566 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice    1    1    NaN      1     1  1      1       1       1       1     1
Water  4    4    NaN      2     4  4      4       4       4       4     4
Dark   3    3    NaN      3     3  3      3       3       3       3     3
Steel  1    1    NaN      1     1  1      1       1       1       1     1
Water  1    1    NaN      1     1  1      1       1       1       1     1

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Ice            1         1
Water          4         4
Dark           3         3
Steel          1         1
Water          1         1

[569 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark    3    3    NaN      3     3  3      3       3       3       3     3
Steel   1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      1     1  1      1       1       1       1     1
Ground  2    2    NaN      0     2  2      2       2       2       2     2
Normal  3    3    NaN      0     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dark            3         3
Steel           1         1
Water           1         1
Ground          2         2
Normal          3         3

[571 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    3    3    NaN      0     3  3      3       3       3       3     3
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Ice       1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            3         3
Electric          1         1
Fighting          2         2
Fire              1         1
Ice               1         1

[575 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice       1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Normal    2    2    NaN      0     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Ice               1         1
Electric          1         1
Fire              1         1
Normal            2         2
Water             1         1

[579 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Normal   2    2    NaN      0     2  2      2       2       2       2     2
Water    1    1    NaN      0     1  1      1       1       1       1     1
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Rock     4    4    NaN      4     4  4      4       4       4       4     4

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             1         1
Normal           2         2
Water            1         1
Psychic          1         1
Rock             4         4

[581 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Rock     4    4    NaN      4     4  4      4       4       4       4     4
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Grass    3    3    NaN      0     3  3      3       3       3       3     3
Psychic  1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Rock             4         4
Fire             1         1
Grass            3         3
Psychic          1         1

[584 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Grass    3    3    NaN      0     3  3      3       3       3       3     3
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Grass    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             1         1
Grass            3         3
Psychic          1         1
Fire             4         4
Grass            1         1

[586 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Grass    1    1    NaN      1     1  1      1       1       1       1     1
Dark     1    1    NaN      0     1  1      1       1       1       1     1
Water    4    4    NaN      3     4  4      4       4       4       4     4

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Fire             4         4
Grass            1         1
Dark             1         1
Water            4         4

[588 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark    1    1    NaN      0     1  1      1       1       1       1     1
Water   4    4    NaN      3     4  4      4       4       4       4     4
Bug     2    2    NaN      0     2  2      2       2       2       2     2
Dark    1    1    NaN      0     1  1      1       1       1       1     1
Normal  2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dark            1         1
Water           4         4
Bug             2         2
Dark            1         1
Normal          2         2

[591 rows x 13 columns]

        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     2    2    NaN      0     2  2      2       2       2       2     2
Dark    1    1    NaN      0     1  1      1       1       1       1     1
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Bug     3    3    NaN      2     3  3      3       3       3       3     3
Water   2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             2         2
Dark            1         1
Normal          2         2
Bug             3         3
Water           2         2

[593 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     3    3    NaN      2     3  3      3       3       3       3     3
Water   2    2    NaN      2     2  2      2       2       2       2     2
Grass   3    3    NaN      2     3  3      3       3       3       3     3
Normal  1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             3         3
Water           2         2
Grass           3         3
Normal          1         1
Water           1         1

[596 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   1    1    NaN      1     1  1      1       1       1       1     1
Water    1    1    NaN      1     1  1      1       1       1       1     1
Normal   1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Water    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           1         1
Water            1         1
Normal           1         1
Psychic          2         2
Water            2         2

[599 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Water    2    2    NaN      2     2  2      2       2       2       2     2
Bug      2    2    NaN      2     2  2      2       2       2       2     2
Grass    1    1    NaN      0     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          2         2
Water            2         2
Bug              2         2
Grass            1         1
Psychic          2         2

[602 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass    1    1    NaN      0     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Bug      1    1    NaN      1     1  1      1       1       1       1     1
Grass    1    1    NaN      1     1  1      1       1       1       1     1
Normal   3    3    NaN      0     3  3      3       3       3       3     3

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Grass            1         1
Psychic          2         2
Bug              1         1
Grass            1         1
Normal           3         3

[605 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   1    1    NaN      1     1  1      1       1       1       1     1
Normal  3    3    NaN      0     3  3      3       3       3       3     3
Bug     2    2    NaN      2     2  2      2       2       2       2     2
Normal  3    3    NaN      0     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             1         1
Grass           1         1
Normal          3         3
Bug             2         2
Normal          3         3

[607 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug       2    2    NaN      2     2  2      2       2       2       2     2
Normal    3    3    NaN      0     3  3      3       3       3       3     3
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Normal    2    2    NaN      1     2  2      2       2       2       2     2
Rock      1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Bug               2         2
Normal            3         3
Fighting          2         2
Normal            2         2
Rock              1         1

[610 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  2    2    NaN      1     2  2      2       2       2       2     2
Rock    1    1    NaN      0     1  1      1       1       1       1     1
Dark    2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Steel   2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          2         2
Rock            1         1
Dark            2         2
Normal          1         1
Steel           2         2

[613 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark      2    2    NaN      2     2  2      2       2       2       2     2
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Steel     2    2    NaN      2     2  2      2       2       2       2     2
Fighting  1    1    NaN      1     1  1      1       1       1       1     1
Steel     4    4    NaN      3     4  4      4       4       4       4     4

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dark              2         2
Normal            1         1
Steel             2         2
Fighting          1         1
Steel             4         4

[615 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Steel     2    2    NaN      2     2  2      2       2       2       2     2
Fighting  1    1    NaN      1     1  1      1       1       1       1     1
Steel     4    4    NaN      3     4  4      4       4       4       4     4
Electric  3    3    NaN      0     3  3      3       3       3       3     3
Fighting  2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Steel             2         2
Fighting          1         1
Steel             4         4
Electric          3         3
Fighting          2         2

[617 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  3    3    NaN      0     3  3      3       3       3       3     3
Fighting  2    2    NaN      2     2  2      2       2       2       2     2
Bug       2    2    NaN      0     2  2      2       2       2       2     2
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Grass     1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          3         3
Fighting          2         2
Bug               2         2
Electric          2         2
Grass             1         1

[620 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug       2    2    NaN      0     2  2      2       2       2       2     2
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Grass     1    1    NaN      1     1  1      1       1       1       1     1
Poison    2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      3     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Bug               2         2
Electric          2         2
Grass             1         1
Poison            2         2
Water             3         3

[622 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass   1    1    NaN      1     1  1      1       1       1       1     1
Poison  2    2    NaN      0     2  2      2       2       2       2     2
Water   3    3    NaN      3     3  3      3       3       3       3     3
Fire    3    3    NaN      3     3  3      3       3       3       3     3
Water   2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Grass           1         1
Poison          2         2
Water           3         3
Fire            3         3
Water           2         2

[624 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water    2    2    NaN      0     2  2      2       2       2       2     2
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Ground   1    1    NaN      0     1  1      1       1       1       1     1
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Water            2         2
Fire             1         1
Ground           1         1
Normal           1         1
Psychic          2         2

[628 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Grass    2    2    NaN      1     2  2      2       2       2       2     2
Ground   2    2    NaN      2     2  2      2       2       2       2     2
Normal   1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           1         1
Psychic          2         2
Grass            2         2
Ground           2         2
Normal           1         1

[631 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  1    1    NaN      1     1  1      1       1       1       1     1
Dragon  2    2    NaN      2     2  2      2       2       2       2     2
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Poison  1    1    NaN      0     1  1      1       1       1       1     1
Rock    1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          1         1
Dragon          2         2
Normal          1         1
Poison          1         1
Rock            1         1

[635 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Poison  1    1    NaN      0     1  1      1       1       1       1     1
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Water   4    4    NaN      3     4  4      4       4       4       4     4

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          1         1
Poison          1         1
Rock            1         1
Rock            1         1
Water           4         4

[637 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Water   4    4    NaN      3     4  4      4       4       4       4     4
Ground  2    2    NaN      2     2  2      2       2       2       2     2
Rock    3    3    NaN      3     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Rock            1         1
Rock            1         1
Water           4         4
Ground          2         2
Rock            3         3

[639 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground  2    2    NaN      2     2  2      2       2       2       2     2
Rock    3    3    NaN      3     3  3      3       3       3       3     3
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Water   2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ground          2         2
Rock            3         3
Normal          2         2
Rock            1         1
Water           2         2

[642 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock    3    3    NaN      3     3  3      3       3       3       3     3
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Water   2    2    NaN      0     2  2      2       2       2       2     2
Ghost   5    5    NaN      0     5  5      5       5       5       5     5

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Rock            3         3
Normal          2         2
Rock            1         1
Water           2         2
Ghost           5         5

[643 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water    2    2    NaN      0     2  2      2       2       2       2     2
Ghost    5    5    NaN      0     5  5      5       5       5       5     5
Dark     2    2    NaN      0     2  2      2       2       2       2     2
Grass    1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Water            2         2
Ghost            5         5
Dark             2         2
Grass            1         1
Psychic          2         2

[646 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ghost    5    5    NaN      0     5  5      5       5       5       5     5
Dark     2    2    NaN      0     2  2      2       2       2       2     2
Grass    1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Ice      5    5    NaN      2     5  5      5       5       5       5     5

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Ghost            5         5
Dark             2         2
Grass            1         1
Psychic          2         2
Ice              5         5

[647 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass    1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Ice      5    5    NaN      2     5  5      5       5       5       5     5
Ice      1    1    NaN      1     1  1      1       1       1       1     1
Water    4    4    NaN      1     4  4      4       4       4       4     4

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Grass            1         1
Psychic          2         2
Ice              5         5
Ice              1         1
Water            4         4

[649 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice     5    5    NaN      2     5  5      5       5       5       5     5
Ice     1    1    NaN      1     1  1      1       1       1       1     1
Water   4    4    NaN      1     4  4      4       4       4       4     4
Dragon  4    4    NaN      2     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ice             5         5
Ice             1         1
Water           4         4
Dragon          4         4
Water           1         1

[651 rows x 13 columns]

        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   4    4    NaN      1     4  4      4       4       4       4     4
Dragon  4    4    NaN      2     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Rock    1    1    NaN      0     1  1      1       1       1       1     1
Steel   4    4    NaN      4     4  4      4       4       4       4     4

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           4         4
Dragon          4         4
Water           1         1
Rock            1         1
Steel           4         4

[653 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock    1    1    NaN      0     1  1      1       1       1       1     1
Steel   4    4    NaN      4     4  4      4       4       4       4     4
Dragon  3    3    NaN      3     3  3      3       3       3       3     3
Ice     1    1    NaN      0     1  1      1       1       1       1     1
Steel   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Rock            1         1
Steel           4         4
Dragon          3         3
Ice             1         1
Steel           1         1

[656 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice     1    1    NaN      0     1  1      1       1       1       1     1
Steel   1    1    NaN      0     1  1      1       1       1       1     1
Dragon  1    1    NaN      1     1  1      1       1       1       1     1
Ground  2    2    NaN      1     2  2      2       2       2       2     2
Water   2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ice             1         1
Steel           1         1
Dragon          1         1
Ground          2         2
Water           2         2

[659 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground   2    2    NaN      1     2  2      2       2       2       2     2
Water    2    2    NaN      0     2  2      2       2       2       2     2
Dragon   2    2    NaN      2     2  2      2       2       2       2     2
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Steel    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Ground           2         2
Water            2         2
Dragon           2         2
Psychic          2         2
Steel            1         1

[662 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon   2    2    NaN      2     2  2      2       2       2       2     2
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Steel    1    1    NaN      1     1  1      1       1       1       1     1
Grass    3    3    NaN      1     3  3      3       3       3       3     3
Psychic  2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Dragon           2         2
Psychic          2         2
Steel            1         1
Grass            3         3
Psychic          2         2

[664 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Steel    1    1    NaN      1     1  1      1       1       1       1     1
Grass    3    3    NaN      1     3  3      3       3       3       3     3
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Fire     3    3    NaN      2     3  3      3       3       3       3     3
Water    2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Steel            1         1
Grass            3         3
Psychic          2         2
Fire             3         3
Water            2         2

[666 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Fire     3    3    NaN      2     3  3      3       3       3       3     3
Water    2    2    NaN      0     2  2      2       2       2       2     2
Normal   4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          2         2
Fire             3         3
Water            2         2
Normal           4         4
Water            1         1

[668 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      1     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            4         4
Water             1         1
Bug               2         2
Electric          2         2
Normal            1         1

[671 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Grass     2    2    NaN      2     2  2      2       2       2       2     2
Rock      2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          2         2
Normal            1         1
Electric          1         1
Grass             2         2
Rock              2         2

[674 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Grass     2    2    NaN      2     2  2      2       2       2       2     2
Rock      2    2    NaN      0     2  2      2       2       2       2     2
Bug       3    3    NaN      2     3  3      3       3       3       3     3
Rock      2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          1         1
Grass             2         2
Rock              2         2
Bug               3         3
Rock              2         2

[676 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock      2    2    NaN      0     2  2      2       2       2       2     2
Bug       3    3    NaN      2     3  3      3       3       3       3     3
Rock      2    2    NaN      2     2  2      2       2       2       2     2
Bug       4    4    NaN      4     4  4      4       4       4       4     4
Electric  1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Rock              2         2
Bug               3         3
Rock              2         2
Bug               4         4
Electric          1         1

[678 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock      2    2    NaN      2     2  2      2       2       2       2     2
Bug       4    4    NaN      4     4  4      4       4       4       4     4
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Grass     2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      0     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Rock              2         2
Bug               4         4
Electric          1         1
Grass             2         2
Water             3         3

[680 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Water   3    3    NaN      0     3  3      3       3       3       3     3
Ghost   2    2    NaN      2     2  2      2       2       2       2     2
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Grass           2         2
Water           3         3
Ghost           2         2
Normal          2         2
Water           1         1

[683 rows x 13 columns]

        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      1     1  1      1       1       1       1     1
Dark    1    1    NaN      1     1  1      1       1       1       1     1
Ghost   1    1    NaN      0     1  1      1       1       1       1     1
Normal  3    3    NaN      1     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          2         2
Water           1         1
Dark            1         1
Ghost           1         1
Normal          3         3

[686 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   3    3    NaN      1     3  3      3       3       3       3     3
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Poison   2    2    NaN      2     2  2      2       2       2       2     2
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Steel    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           3         3
Normal           1         1
Poison           2         2
Psychic          1         1
Steel            1         1

[690 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Steel    1    1    NaN      1     1  1      1       1       1       1     1
Normal   2    2    NaN      1     2  2      2       2       2       2     2
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Rock     1    1    NaN      0     1  1      1       1       1       1     1
Steel    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Steel            1         1
Normal           2         2
Psychic          1         1
Rock             1         1
Steel            1         1

[694 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Rock     1    1    NaN      0     1  1      1       1       1       1     1
Steel    1    1    NaN      1     1  1      1       1       1       1     1
Dragon   4    4    NaN      4     4  4      4       4       4       4     4
Ghost    1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Rock             1         1
Steel            1         1
Dragon           4         4
Ghost            1         1

[696 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon    4    4    NaN      4     4  4      4       4       4       4     4
Ghost     1    1    NaN      1     1  1      1       1       1       1     1
Fighting  3    3    NaN      2     3  3      3       3       3       3     3
Ground    1    1    NaN      0     1  1      1       1       1       1     1
Normal    1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dragon            4         4
Ghost             1         1
Fighting          3         3
Ground            1         1
Normal            1         1

[699 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  3    3    NaN      2     3  3      3       3       3       3     3
Ground    1    1    NaN      0     1  1      1       1       1       1     1
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Ground    1    1    NaN      0     1  1      1       1       1       1     1
Poison    4    4    NaN      4     4  4      4       4       4       4     4

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          3         3
Ground            1         1
Normal            1         1
Ground            1         1
Poison            4         4

[701 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Ground  1    1    NaN      0     1  1      1       1       1       1     1
Poison  4    4    NaN      4     4  4      4       4       4       4     4
Grass   2    2    NaN      1     2  2      2       2       2       2     2
Water   3    3    NaN      1     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Normal          1         1
Ground          1         1
Poison          4         4
Grass           2         2
Water           3         3

[703 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     3    3    NaN      1     3  3      3       3       3       3     3
Dark      1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Grass     2    2    NaN      2     2  2      2       2       2       2     2
Normal    1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Water             3         3
Dark              1         1
Electric          1         1
Grass             2         2
Normal            1         1

[707 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Fairy     1    1    NaN      1     1  1      1       1       1       1     1
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     1    1    NaN      0     1  1      1       1       1       1     1
Ground    1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          1         1
Fairy             1         1
Fire              1         1
Grass             1         1
Ground            1         1

[712 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground  1    1    NaN      1     1  1      1       1       1       1     1
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   1    1    NaN      0     1  1      1       1       1       1     1
Ground  1    1    NaN      1     1  1      1       1       1       1     1
Ice     2    2    NaN      1     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ground          1         1
Bug             1         1
Grass           1         1
Ground          1         1
Ice             2         2

[716 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice      2    2    NaN      1     2  2      2       2       2       2     2
Ghost    1    1    NaN      0     1  1      1       1       1       1     1
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Ice              2         2
Ghost            1         1
Normal           1         1
Psychic          2         2
Rock             1         1

[720 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Psychic   2    2    NaN      2     2  2      2       2       2       2     2
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Electric  4    4    NaN      4     4  4      4       4       4       4     4
Ice       1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Normal            1         1
Psychic           2         2
Rock              1         1
Electric          4         4
Ice               1         1

[722 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Electric  4    4    NaN      4     4  4      4       4       4       4     4
Ice       1    1    NaN      1     1  1      1       1       1       1     1
Electric  2    2    NaN      2     2  2      2       2       2       2     2
Psychic   3    3    NaN      0     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Rock              1         1
Electric          4         4
Ice               1         1
Electric          2         2
Psychic           3         3

[724 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    1    1    NaN      1     1  1      1       1       1       1     1
Ghost   1    1    NaN      1     1  1      1       1       1       1     1
Normal  1    1    NaN      0     1  1      1       1       1       1     1
Steel   1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      1     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            1         1
Ghost           1         1
Normal          1         1
Steel           1         1
Water           1         1

[729 rows x 13 columns]

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water    1    1    NaN      1     1  1      1       1       1       1     1
Dark     1    1    NaN      0     1  1      1       1       1       1     1
Ghost    1    1    NaN      1     1  1      1       1       1       1     1
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Water    2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Water            1         1
Dark             1         1
Ghost            1         1
Psychic          1         1
Water            2         2

[733 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Water    2    2    NaN      0     2  2      2       2       2       2     2
Grass    3    3    NaN      1     3  3      3       3       3       3     3
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Water            2         2
Grass            3         3
Normal           1         1
Psychic          1         1

[736 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass    3    3    NaN      1     3  3      3       3       3       3     3
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Fire     3    3    NaN      2     3  3      3       3       3       3     3
Grass    2    2    NaN      0     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Grass            3         3
Normal           1         1
Psychic          1         1
Fire             3         3
Grass            2         2

[738 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Fire     3    3    NaN      2     3  3      3       3       3       3     3
Grass    2    2    NaN      0     2  2      2       2       2       2     2
Normal   2    2    NaN      0     2  2      2       2       2       2     2
Water    3    3    NaN      0     3  3      3       3       3       3     3

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Psychic          1         1
Fire             3         3
Grass            2         2
Normal           2         2
Water            3         3

[740 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Water   3    3    NaN      0     3  3      3       3       3       3     3
Dark    2    2    NaN      0     2  2      2       2       2       2     2
Normal  3    3    NaN      0     3  3      3       3       3       3     3

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Grass           2         2
Normal          2         2
Water           3         3
Dark            2         2
Normal          3         3

[742 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark    2    2    NaN      0     2  2      2       2       2       2     2
Normal  3    3    NaN      0     3  3      3       3       3       3     3
Fire    2    2    NaN      0     2  2      2       2       2       2     2
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dark            2         2
Normal          3         3
Fire            2         2
Grass           2         2
Water           1         1

[745 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass    2    2    NaN      0     2  2      2       2       2       2     2
Water    1    1    NaN      0     1  1      1       1       1       1     1
Normal   2    2    NaN      2     2  2      2       2       2       2     2
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Water    1    1    NaN      0     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Grass            2         2
Water            1         1
Normal           2         2
Psychic          2         2
Water            1         1

[748 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Psychic   2    2    NaN      0     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      1     1  1      1       1       1       1     1
Rock      2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Psychic           2         2
Water             1         1
Electric          2         2
Normal            1         1
Rock              2         2

[751 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   1    1    NaN      1     1  1      1       1       1       1     1
Rock     2    2    NaN      0     2  2      2       2       2       2     2
Ground   2    2    NaN      1     2  2      2       2       2       2     2
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     1    1    NaN      0     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           1         1
Rock             2         2
Ground           2         2
Psychic          2         2
Rock             1         1

[754 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground    2    2    NaN      1     2  2      2       2       2       2     2
Psychic   2    2    NaN      2     2  2      2       2       2       2     2
Rock      1    1    NaN      0     1  1      1       1       1       1     1
Fighting  3    3    NaN      0     3  3      3       3       3       3     3
Normal    2    2    NaN      1     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Ground            2         2
Psychic           2         2
Rock              1         1
Fighting          3         3
Normal            2         2

[756 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock      1    1    NaN      0     1  1      1       1       1       1     1
Fighting  3    3    NaN      0     3  3      3       3       3       3     3
Normal    2    2    NaN      1     2  2      2       2       2       2     2
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      2     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Rock              1         1
Fighting          3         3
Normal            2         2
Fighting          2         2
Water             3         3

[758 rows x 13 columns]

          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  3    3    NaN      0     3  3      3       3       3       3     3
Normal    2    2    NaN      1     2  2      2       2       2       2     2
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      2     3  3      3       3       3       3     3
Bug       5    5    NaN      5     5  5      5       5       5       5     5

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          3         3
Normal            2         2
Fighting          2         2
Water             3         3
Bug               5         5

[759 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Water     3    3    NaN      2     3  3      3       3       3       3     3
Bug       5    5    NaN      5     5  5      5       5       5       5     5
Bug       1    1    NaN      1     1  1      1       1       1       1     1
Grass     4    4    NaN      2     4  4      4       4       4       4     4

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          2         2
Water             3         3
Bug               5         5
Bug               1         1
Grass             4         4

[761 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   4    4    NaN      2     4  4      4       4       4       4     4
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Ground  3    3    NaN      3     3  3      3       3       3       3     3
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Bug             1         1
Grass           4         4
Fire            1         1
Ground          3         3
Water           1         1

[764 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground  3    3    NaN      3     3  3      3       3       3       3     3
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      2     2  2      2       2       2       2     2
Fire    2    2    NaN      1     2  2      2       2       2       2     2
Grass   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ground          3         3
Water           1         1
Bug             2         2
Fire            2         2
Grass           1         1

[767 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire     2    2    NaN      1     2  2      2       2       2       2     2
Grass    1    1    NaN      0     1  1      1       1       1       1     1
Dark     2    2    NaN      2     2  2      2       2       2       2     2
Ghost    2    2    NaN      0     2  2      2       2       2       2     2
Psychic  1    1    NaN      1     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fire             2         2
Grass            1         1
Dark             2         2
Ghost            2         2
Psychic          1         1

[770 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ghost    2    2    NaN      0     2  2      2       2       2       2     2
Psychic  1    1    NaN      1     1  1      1       1       1       1     1
Poison   1    1    NaN      0     1  1      1       1       1       1     1
Rock     2    2    NaN      2     2  2      2       2       2       2     2
Water    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Ghost            2         2
Psychic          1         1
Poison           1         1
Rock             2         2
Water            2         2

[773 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock    2    2    NaN      2     2  2      2       2       2       2     2
Water   2    2    NaN      2     2  2      2       2       2       2     2
Dark    2    2    NaN      0     2  2      2       2       2       2     2
Normal  2    2    NaN      0     2  2      2       2       2       2     2
Poison  1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Rock            2         2
Water           2         2
Dark            2         2
Normal          2         2
Poison          1         1

[776 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water    2    2    NaN      2     2  2      2       2       2       2     2
Dark     2    2    NaN      0     2  2      2       2       2       2     2
Normal   2    2    NaN      0     2  2      2       2       2       2     2
Poison   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  5    5    NaN      0     5  5      5       5       5       5     5

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Water            2         2
Dark             2         2
Normal           2         2
Poison           1         1
Psychic          5         5

[777 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Poison   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  5    5    NaN      0     5  5      5       5       5       5     5
Ice      2    2    NaN      0     2  2      2       2       2       2     2
Psychic  1    1    NaN      0     1  1      1       1       1       1     1
Water    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Poison           1         1
Psychic          5         5
Ice              2         2
Psychic          1         1
Water            2         2

[780 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water     2    2    NaN      2     2  2      2       2       2       2     2
Bug       1    1    NaN      0     1  1      1       1       1       1     1
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Ice       1    1    NaN      0     1  1      1       1       1       1     1
Normal    2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Water             2         2
Bug               1         1
Electric          1         1
Ice               1         1
Normal            2         2

[784 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice     1    1    NaN      0     1  1      1       1       1       1     1
Normal  2    2    NaN      2     2  2      2       2       2       2     2
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   2    2    NaN      2     2  2      2       2       2       2     2
Water   2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ice             1         1
Normal          2         2
Bug             1         1
Grass           2         2
Water           2         2

[787 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass  2    2    NaN      2     2  2      2       2       2       2     2
Water  2    2    NaN      2     2  2      2       2       2       2     2
Bug    2    2    NaN      2     2  2      2       2       2       2     2
Grass  2    2    NaN      2     2  2      2       2       2       2     2
Water  1    1    NaN      0     1  1      1       1       1       1     1

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Grass          2         2
Water          2         2
Bug            2         2
Grass          2         2
Water          1         1

[790 rows x 13 columns]

          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Bug       2    2    NaN      2     2  2      2       2       2       2     2
Grass     2    2    NaN      2     2  2      2       2       2       2     2
Water     1    1    NaN      0     1  1      1       1       1       1     1
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Steel     3    3    NaN      0     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Bug               2         2
Grass             2         2
Water             1         1
Electric          2         2
Steel             3         3

[792 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  2    2    NaN      0     2  2      2       2       2       2     2
Steel     3    3    NaN      0     3  3      3       3       3       3     3
Electric  1    1    NaN      0     1  1      1       1       1       1     1
Ghost     2    2    NaN      2     2  2      2       2       2       2     2
Psychic   2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          2         2
Steel             3         3
Electric          1         1
Ghost             2         2
Psychic           2         2

[795 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ghost    2    2    NaN      2     2  2      2       2       2       2     2
Psychic  2    2    NaN      0     2  2      2       2       2       2     2
Dragon   3    3    NaN      0     3  3      3       3       3       3     3
Ghost    1    1    NaN      1     1  1      1       1       1       1     1
Ice      1    1    NaN      0     1  1      1       1       1       1     1

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Ghost            2         2
Psychic          2         2
Dragon           3         3
Ghost            1         1
Ice              1         1

[798 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ghost   1    1    NaN      1     1  1      1       1       1       1     1
Ice     1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
Ground  1    1    NaN      1     1  1      1       1       1       1     1
Ice     2    2    NaN      0     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ghost           1         1
Ice             1         1
Bug             2         2
Ground          1         1
Ice             2         2

[801 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ground    1    1    NaN      1     1  1      1       1       1       1     1
Ice       2    2    NaN      0     2  2      2       2       2       2     2
Dragon    1    1    NaN      0     1  1      1       1       1       1     1
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Ground    2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Ground            1         1
Ice               2         2
Dragon            1         1
Fighting          2         2
Ground            2         2

[804 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon    1    1    NaN      0     1  1      1       1       1       1     1
Fighting  2    2    NaN      0     2  2      2       2       2       2     2
Ground    2    2    NaN      2     2  2      2       2       2       2     2
Dark      2    2    NaN      2     2  2      2       2       2       2     2
Normal    3    3    NaN      2     3  3      3       3       3       3     3

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dragon            1         1
Fighting          2         2
Ground            2         2
Dark              2         2
Normal            3         3

[806 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark    2    2    NaN      2     2  2      2       2       2       2     2
Normal  3    3    NaN      2     3  3      3       3       3       3     3
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Dark    3    3    NaN      3     3  3      3       3       3       3     3
Fire    1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dark            2         2
Normal          3         3
Bug             1         1
Dark            3         3
Fire            1         1

[809 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dark   3    3    NaN      3     3  3      3       3       3       3     3
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      2     2  2      2       2       2       2     2
Dark   2    2    NaN      2     2  2      2       2       2       2     2
Steel  1    1    NaN      1     1  1      1       1       1       1     1

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Dark           3         3
Fire           1         1
Bug            2         2
Dark           2         2
Steel          1         1

[812 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Steel     1    1    NaN      1     1  1      1       1       1       1     1
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Flying    2    2    NaN      0     2  2      2       2       2       2     2
Grass     1    1    NaN      1     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Steel             1         1
Electric          1         1
Flying            2         2
Grass             1         1
Rock              1         1

[816 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass     1    1    NaN      1     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Dragon    2    2    NaN      2     2  2      2       2       2       2     2
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Ground    2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Grass             1         1
Rock              1         1
Dragon            2         2
Electric          1         1
Ground            2         2

[819 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon    2    2    NaN      2     2  2      2       2       2       2     2
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Ground    2    2    NaN      2     2  2      2       2       2       2     2
Dragon    3    3    NaN      3     3  3      3       3       3       3     3
Water     2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dragon            2         2
Electric          1         1
Ground            2         2
Dragon            3         3
Water             2         2

[821 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon  3    3    NaN      3     3  3      3       3       3       3     3
Water   2    2    NaN      2     2  2      2       2       2       2     2
Bug     1    1    NaN      1     1  1      1       1       1       1     1
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Normal  2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Dragon          3         3
Water           2         2
Bug             1         1
Grass           2         2
Normal          2         2

[824 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Grass   2    2    NaN      0     2  2      2       2       2       2     2
Normal  2    2    NaN      2     2  2      2       2       2       2     2
Fire    3    3    NaN      1     3  3      3       3       3       3     3
Grass   1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      0     1  1      1       1       1       1     1

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Grass           2         2
Normal          2         2
Fire            3         3
Grass           1         1
Water           1         1

[827 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fire    3    3    NaN      1     3  3      3       3       3       3     3
Grass   1    1    NaN      1     1  1      1       1       1       1     1
Water   1    1    NaN      0     1  1      1       1       1       1     1
Normal  3    3    NaN      2     3  3      3       3       3       3     3
Water   2    2    NaN      1     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Fire            3         3
Grass           1         1
Water           1         1
Normal          3         3
Water           2         2

[829 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water   1    1    NaN      0     1  1      1       1       1       1     1
Normal  3    3    NaN      2     3  3      3       3       3       3     3
Water   2    2    NaN      1     2  2      2       2       2       2     2
Bug     3    3    NaN      1     3  3      3       3       3       3     3
Fire    2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Water           1         1
Normal          3         3
Water           2         2
Bug             3         3
Fire            2         2

[831 rows x 13 columns]

       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Water  2    2    NaN      1     2  2      2       2       2       2     2
Bug    3    3    NaN      1     3  3      3       3       3       3     3
Fire   2    2    NaN      2     2  2      2       2       2       2     2
Fairy  3    3    NaN      0     3  3      3       3       3       3     3
Fire   2    2    NaN      2     2  2      2       2       2       2     2

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Water          2         2
Bug            3         3
Fire           2         2
Fairy          3         3
Fire           2         2

[833 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy     3    3    NaN      0     3  3      3       3       3       3     3
Fire      2    2    NaN      2     2  2      2       2       2       2     2
Fighting  2    2    NaN      1     2  2      2       2       2       2     2
Grass     2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      0     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fairy             3         3
Fire              2         2
Fighting          2         2
Grass             2         2
Normal            1         1

[836 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  2    2    NaN      1     2  2      2       2       2       2     2
Grass     2    2    NaN      0     2  2      2       2       2       2     2
Normal    1    1    NaN      0     1  1      1       1       1       1     1
Psychic   3    3    NaN      0     3  3      3       3       3       3     3
Steel     2    2    NaN      2     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          2         2
Grass             2         2
Normal            1         1
Psychic           3         3
Steel             2         2

[838 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Normal   1    1    NaN      0     1  1      1       1       1       1     1
Psychic  3    3    NaN      0     3  3      3       3       3       3     3
Steel    2    2    NaN      2     2  2      2       2       2       2     2
Fairy    3    3    NaN      0     3  3      3       3       3       3     3
Steel    2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Normal           1         1
Psychic          3         3
Steel            2         2
Fairy            3         3
Steel            2         2

[840 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy  3    3    NaN      0     3  3      3       3       3       3     3
Steel  2    2    NaN      2     2  2      2       2       2       2     2
Dark   2    2    NaN      2     2  2      2       2       2       2     2
Fairy  1    1    NaN      0     1  1      1       1       1       1     1
Rock   2    2    NaN      2     2  2      2       2       2       2     2

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Fairy          3         3
Steel          2         2
Dark           2         2
Fairy          1         1
Rock           2         2

[843 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy     1    1    NaN      0     1  1      1       1       1       1     1
Rock      2    2    NaN      2     2  2      2       2       2       2     2
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Poison    2    2    NaN      2     2  2      2       2       2       2     2
Water     2    2    NaN      0     2  2      2       2       2       2     2

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fairy             1         1
Rock              2         2
Electric          1         1
Poison            2         2
Water             2         2

[846 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Poison    2    2    NaN      2     2  2      2       2       2       2     2
Water     2    2    NaN      0     2  2      2       2       2       2     2
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Rock      4    4    NaN      4     4  4      4       4       4       4     4

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Electric          1         1
Poison            2         2
Water             2         2
Electric          1         1
Rock              4         4

[848 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Dragon    1    1    NaN      0     1  1      1       1       1       1     1
Electric  1    1    NaN      1     1  1      1       1       1       1     1
Fairy     1    1    NaN      0     1  1      1       1       1       1     1
Fighting  1    1    NaN      1     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Dragon            1         1
Electric          1         1
Fairy             1         1
Fighting          1         1
Rock              1         1

[853 rows x 13 columns]
          # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire      1    1    NaN      0     1  1      1       1       1       1     1
Grass     4    4    NaN      4     4  4      4       4       4       4     4
Fire      4    4    NaN      3     4  4      4       4       4       4     4
Water     1    1    NaN      0     1  1      1       1       1       1     1
Bug       2    2    NaN      0     2  2      2       2       2       2     2
...      ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fighting  1    1    NaN      1     1  1      1       1       1       1     1
Rock      1    1    NaN      1     1  1      1       1       1       1     1
Dragon    2    2    NaN      0     2  2      2       2       2       2     2
Ghost     2    2    NaN      2     2  2      2       2       2       2     2
Steel     1    1    NaN      1     1  1      1       1       1       1     1

         Generation Legendary
Fire              1         1
Grass             4         4
Fire              4         4
Water             1         1
Bug               2         2
...             ...       ...
Fighting          1         1
Rock              1         1
Dragon            2         2
Ghost             2         2
Steel             1         1

[856 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Rock    1    1    NaN      1     1  1      1       1       1       1     1
Dragon  2    2    NaN      0     2  2      2       2       2       2     2
Ghost   2    2    NaN      2     2  2      2       2       2       2     2
Steel   1    1    NaN      1     1  1      1       1       1       1     1
Ghost   5    5    NaN      5     5  5      5       5       5       5     5

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Rock            1         1
Dragon          2         2
Ghost           2         2
Steel           1         1
Ghost           5         5

[857 rows x 13 columns]
       # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire   1    1    NaN      0     1  1      1       1       1       1     1
Grass  4    4    NaN      4     4  4      4       4       4       4     4
Fire   4    4    NaN      3     4  4      4       4       4       4     4
Water  1    1    NaN      0     1  1      1       1       1       1     1
Bug    2    2    NaN      0     2  2      2       2       2       2     2
...   ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ghost  2    2    NaN      2     2  2      2       2       2       2     2
Steel  1    1    NaN      1     1  1      1       1       1       1     1
Ghost  5    5    NaN      5     5  5      5       5       5       5     5
Ghost  3    3    NaN      3     3  3      3       3       3       3     3
Ice    2    2    NaN      0     2  2      2       2       2       2     2

      Generation Legendary
Fire           1         1
Grass          4         4
Fire           4         4
Water          1         1
Bug            2         2
...          ...       ...
Ghost          2         2
Steel          1         1
Ghost          5         5
Ghost          3         3
Ice            2         2

[859 rows x 13 columns]
        # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire    1    1    NaN      0     1  1      1       1       1       1     1
Grass   4    4    NaN      4     4  4      4       4       4       4     4
Fire    4    4    NaN      3     4  4      4       4       4       4     4
Water   1    1    NaN      0     1  1      1       1       1       1     1
Bug     2    2    NaN      0     2  2      2       2       2       2     2
...    ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Ice     2    2    NaN      0     2  2      2       2       2       2     2
Dark    1    1    NaN      1     1  1      1       1       1       1     1
Dragon  1    1    NaN      1     1  1      1       1       1       1     1
Fairy   1    1    NaN      0     1  1      1       1       1       1     1
Flying  2    2    NaN      2     2  2      2       2       2       2     2

       Generation Legendary
Fire            1         1
Grass           4         4
Fire            4         4
Water           1         1
Bug             2         2
...           ...       ...
Ice             2         2
Dark            1         1
Dragon          1         1
Fairy           1         1
Flying          2         2

[863 rows x 13 columns]
         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy    1    1    NaN      0     1  1      1       1       1       1     1
Flying   2    2    NaN      2     2  2      2       2       2       2     2
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fairy            1         1
Flying           2         2
Fire             1         1
Psychic          2         2
Rock             2         2

[866 rows x 13 columns]